{
  "include": [
    "**/*.ts"
  ],
  "exclude": [
    "test/**/*",
    "**/*.d.ts",
    "**/*.spec.ts",
    "webpack.config.ts",
    "shared/services/ioc-services.ts"
  ],
  "extension": [
    ".ts"
  ],
  "require": [
    "ts-node/register"
  ],
  "reporter": [
    "text-summary",
    "html",
    "lcov"
  ],
  "sourceMap": true,
  "instrument": true,
  "all": true
}
